html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    position: relative;
}

#container {
    min-height: 100%;
    padding: 10px;
}

#related_link_container {
    padding-bottom: 50px;
    clear-after: both;
    clear: both;
}

/*code related*/
code {
    padding: 0 10px;
    font-size: 14px;
    line-height: 25px;
    display: block;
    white-space: pre;
}

.code-panel {
    box-sizing: border-box;
    background-color: rgba(158, 158, 158, 0.07);
    padding-top: 5px;
    position: relative;
}

.code-heading {
    border-bottom: solid 2px dimgray;
    padding: 5px 80px 5px 15px;
    font-size: 18px;
    margin: 0;
    display: inline;
    font-weight: 600;
}

.code-main {
    padding: 20px 5px;
}

.code-numbering {
    position: absolute;
    border-right: solid 1px gray;
}

.code-content {
    margin-left: 30px;
    overflow: auto;
}

.copy {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

/*reference*/
a.ref {
    padding: 0 5px;
    color: lightslategray;
    font-size: 14px;
    font-weight: 600;
}

div.ref {
    text-align: right;
}

/*outline*/
#outline_container {
    width: 22%;
    position: fixed;
    left: 2%;
    top: 40px;
}

#outline {
    background-color: pink;
}

#outline h2 {
    margin-left: 10px;
    border-left: solid 2px lightslategrey;
}

#outline ul {
    margin: 0;
    padding: 10px 40px;
}

li {
    margin: 10px;
}


/*article*/
#content_container {
    text-align: center;
    float: right;
    width: 78%;
}

article {
    text-align: left;
    margin-left: 5%;
    width: 65%;
}

/*ajax*/
#ajaxSent_container, #ajaxResp_container {
    text-align: center;
}

/*table*/
table {
    border-collapse: collapse;
    font-size: 15px;
    font-family: monospace;
    overflow: auto;
    white-space: nowrap;
    table-layout: auto;
    min-width: 100%;
}

tr:nth-child(odd) {
    border-bottom: dashed 1px lightgrey;
}

tr:nth-child(even) {
    border-bottom: dashed 1px lightblue;
}

th {
    border-bottom: dashed 3px dimgray;
}

th, td {
    padding: 5px 30px;
}

button {
    background-color: lightyellow;
    border: dashed 2px lightblue;
    font-size: 20px;
    font-family: inherit;
    font-weight: 600;
    padding: 5px 40px;
    margin-top: 40px;
    cursor: pointer;
}

/*footer*/
#footer_container {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    clear: both;
}

#footer {
    display: block;
    padding: 10px 0 10px 0;
    border-top: solid 1px lightgrey;
    max-width: 921px;
    margin-left: auto;
    margin-right: auto;
}

#contact {
    height: auto;
    display: block;
}

#contact a {
    display: block;
    padding: 7px 0 7px 0;
}

@media only screen and (max-width: 767px) and (min-width: 520px) {
    #contact {
        display: block;
    }

    #contact a {
        display: inline;
        margin: 0 10px;
        padding: 0;
    }
}

@media only screen and (min-width: 768px) {
    #contact {
        display: inline-block;
        white-space: nowrap;
        vertical-align: top;
    }

    #contact a {
        display: inline;
        margin: 0 10px 0 10px;
        padding: 0;
    }
}